<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="topbar">
  <div>{{ user }}</div>
  <div class="dots">⋮
    <div class="menu">
      <a href="/dashboard">Dashboard</a>
      {% if user == "dev" %}
      <a href="/admins">Admins</a>
      <a href="/env">ENV</a>
      {% endif %}
      <a href="/coming">Users</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
</div>

{% block body %}{% endblock %}

</body>
</html>
